/* GLOBAL SETTINGS */
:root{
    --main-color: #0bec88;
    --main-color-rgb-values: 11,236,136;
    --main-color-darker: #00864a;
    --main-color-ligher: #acf6d6;
    --main-color-ligher-photo: #61c197;
    --white-color: #fff;
    --black-color: #000;
    --button-shadow: rgba(255, 255, 255, 0.2) 0 0 20px 5px;
}

body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: var(--white-color);
    overflow: overlay;
}

img{
    width: 100%;
}

/* TOPOGRAPHY */

/* POSITION */
.main-container,
.photo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header, .opinion-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.opinion-box-with-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* OTHER ATTRIBUTES */

.main-container{
    min-height: 100vh;
    flex-direction: column;
}
@media (max-width: 711px) {
    .main-container{
        padding-top: 25px;
    }
}

.main-container-photo{
    background: url("photos/background2.jpg") no-repeat center;
    background-size: cover;
}

.header{
    padding-top: 50px;
    backdrop-filter: blur(2px);
}

.header>h2{
    margin: 0 0 12px 0;
    color: var(--main-color);
    font-weight: 200;
}

.header>h1{
    margin: 0 0 0 0;
    font-weight: 500;
}

.opinion-box-with-buttons{
    width: 60vw;
    margin: 0 20px 40px 20px;
}

    @media (max-width: 800px) {
        .opinion-box-with-buttons{
            width: 70vw;
        }
    }

    @media (max-width: 610px) {
        .opinion-box-with-buttons{
            width: 80vw;
        }
    }

    @media (max-width: 433px) {
        .opinion-box-with-buttons{
            width: 90vw;
        }
    }

/* Opinion box */
.opinion-box{
    width: 100%;
    box-sizing: border-box;
    border: var(--main-color-ligher) solid 1px;
    border-radius: 5px;
    margin: 0 20px;
    padding: 20px 20px 25px;
    backdrop-filter: blur(1px);
    box-shadow: rgba(255, 255, 255, 0.2) 0 0 20px;
}

    @media (max-width: 480px){
        /* Fix opinion-box going behind screen */
        .opinion-box{
            min-width: 0;
        }
    }

    @media (max-width: 350px){
        /* Fix buttons going behind screen */
        .opinion-box{
            margin: 0 8px;
        }
    }

.opinion-box__name{
    margin: 20px 0;
    font-weight: 500;
    font-size: 30px;
}

.opinion-box__stars{
    margin: 0 0 10px 0;
}

.opinion-box__photo{
    --photo-shift: 80px;
    position: relative;
    top: calc(-1 * var(--photo-shift));
    margin-bottom: calc(-1 * var(--photo-shift));
    border:  var(--main-color-ligher-photo) 2px solid;
    border-radius: 50%;
    width: 150px;
    filter: sepia(50%);
}

.opinion-box__comment{
    font-size: 18px;
    max-height: 190px;
    font-weight: 600;
    width: auto;
    text-align: center;
    overflow: auto;
}

/* Buttons */
.btn{
    background-color: transparent;
    border: var(--main-color) 1px solid;
    padding: 15px 10px;
    border-radius: 100%;
    text-align: center;
    backdrop-filter: blur(1px);
    box-shadow: var(--button-shadow);
}

@keyframes hover-button {
    from {
        background-color: inherit;
    }
    to {
        background-color: var(--main-color);
    }
}

@keyframes hover-button-icon {
    from {
        color: var(--main-color);
    }
    to {
        color: var(--white-color);
    }
}

/*noinspection ALL*/
.btn:is(:hover,:active)
{
    animation: hover-button 700ms linear 0ms 1 normal forwards;
}

/*noinspection ALL*/
.btn:is(:hover,:active) i
{
    animation: hover-button-icon 700ms linear 0ms 1 normal forwards;
}

.btn:focus{
    outline: none;
    box-shadow: var(--button-shadow), 0 0 5px 2px var(--main-color);
}

/* Font Awesome icons */
.fas, .far{
    color: var(--white-color);
    font-size: 1.7em;
}

.fa-star, .fa-star-half-alt{
    color: var(--main-color);
}

    @media (max-width: 380px){
        /* Fix overflow stars */
        .fa-star, .fa-star-half-alt{
            font-size: 25px;
        }
    }

.fa-quote-left{
    color: var(--main-color);
    font-size: 35px;

}

.fa-chevron-right, .fa-chevron-left{
    color: var(--main-color);
}
/* Margin */
.mt5{
    margin-top: 5px;
}

/*Scrollbar*/
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.4) rgba(var(--main-color-rgb-values),0.8);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.2);
    /*opacity: 0.1;*/
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.4);
    opacity: 1;
    border-radius: 20px;
    border: 3px rgba(var(--main-color-rgb-values),0.8) solid ;
}