body{
    margin: 0;
    background-color: lightyellow;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quotation-box{
    /* TO CHANGE !!!*/
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 1fr 10%;

    padding: 40px;

    height: 300px;
    width: 300px;
    background-color: #bfbfa9;
}

#quotation-box__button{
    justify-self: left;
}

#quotation-box__quote{

}

#quotation-box__quote-author{

}